@model ErrorViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="text-center">

    <form method="post" asp-action="Login">
        <input class="spotify-button" type="submit" value="Login with Spotify" />
    </form>
</div>